<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>login</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<style>
			body{
				background-color: aliceblue;
				background-image: url("https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
				background-repeat: no-repeat;
				background-position: center;
			}
			h1{
				color:black;
				font-weight: bolder;
				font-family: "微软雅黑 Light";
				text-decoration: aliceblue;
			}

		</style>
	</head>
	<body>
		<br><br><br>
		<br><br><br><br>
		<div class="ui four column centered grid">
		  <div class="column">
			  <h1>自动排课系统</h1><br>
			  <form class="ui centered form" method="post" action="/login">
			    <div class="field">
			      <label>用户名</label>
			      <input type="text" name="name" required="required" placeholder="用户名">
			    </div>
			    <div class="field">
			      <label>密码</label>
			      <input type="password" name="password" required="required" placeholder="密码">
			    </div>
				<div class="field">
				  <label>身份</label>
				  <input type="radio" name="login_type" value="0">学生
				  <input type="radio" name="login_type" value="1">老师
				  <input type="radio" name="login_type" value="2" checked>管理员
				</div>
				  <div class="field" style="color: red" th:text="${msg}"></div>
			    <button class="ui blue button" type="submit">提交</button>
				  <a class="ui red button" th:href="@{/index}">返回</a>
			  </form>
		  </div>
		</div>
	</body>
</html>
