<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>major_index</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<style>
		body{
			background-color: aliceblue;
		}
	</style>
</head>
<body>
<br>
<br><br>
<div class="ui two column centered grid">
	<div class="column">
		<div class="ui action input">
			<a class="larger ui green button" th:href="@{/index}">返回</a>&nbsp;
			<a class="larger ui red button" th:href="@{/to_major_add}">添加</a>&nbsp;
			<form class="ui form" th:method="post" th:action="@{/major_search}">
				<div class="ui input focus">
					<input type="text" name="keyword" placeholder="搜索...">
				</div>
				<button class="ui primary blue button">搜索</button>
			</form>
		</div>
		<table class="ui celled table">
			<thead>
			<tr>
				<th>班级名称</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="major,it:${majorList}">
				<td th:text="${major.name}"></td>
				<td>
					<button class="ui small button">
						<a th:href="@{/to_major_update(id=${major.id})}">更新</a>
					</button>
					<button class="ui small button">
						<a style="color: green;" th:href="@{/to_major_detail(id=${major.id})}">详情</a>
					</button>
					<button class="ui small button">
						<a style="color: red;" th:href="@{/to_major_delete(id=${major.id})}">删除</a>
					</button>
					<button class="ui small button" th:if="${major.state eq '0'}">
						<a style="color: green;" th:href="@{/to_paike(id=${major.id})}">排课</a>
					</button>
					<button class="ui small button" th:unless="${major.state eq '0'}">
						<a style="color: green;" th:href="@{/to_paike_info(id=${major.id})}">查看排课</a>
					</button>
					<button class="ui small button" th:unless="${major.state eq '0'}">
						<a style="color: green;" th:href="@{/to_paike_reset(id=${major.id})}">重新排课</a>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
