<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
	<head>
		<meta charset="utf-8">
		<title>subject_update_search</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	</head>
	<body>
		<br>
		<br><br>
		<div class="ui four column centered grid">
		  <div class="column">
			  <form class="ui form" method="post" action="/subject_update_search">
			    <div class="field">
			      <label>名称</label>
			      <input type="text" name="name" th:value="${subject.name}">
					<input type="hidden" name="id" th:value="${subject.id}">
					<input type="hidden" name="keyword" th:value="${keyword}">
			    </div>
			    <div class="field">
			      <label>类别</label>
			      <input type="text" name="type" th:value="${subject.type}">
			    </div>
			    <button class="ui button" type="submit">提交</button>
			  </form>
		  </div>
		</div>
	</body>
</html>
